In [2]:
import json
import numpy as np
import pandas as pd

In [106]:
def pointsAboveReplacement(file):
    with open(file, "r") as infile:
        data = json.load(infile)
    for i, player in enumerate(data):
        if i < (len(data)-1):
            data[i].update({"points_above_replacement": player["togga_score"] - data[i+1]["togga_score"]})   
    with open(file, 'w') as json_data:
        json.dump(data, json_data)

for position in ['goalies', 'defense', 'midfield', 'forwards']:
    for year in ['2012/13', '2013/14', '2014/15', '2015/16', '2016/17']:
        file = 'Data/Sorted_Positions/sorted_%s_%s+%s.json' % (position, year[:4], year[-2:])
        pointsAboveReplacement(file)

In [107]:
with open(file, "r") as infile:
        data = json.load(infile)

points_above = np.array([(x["name"], x["points_above_replacement"]) for x in data[:-1]])
#print(points_above)

In [110]:
relevant_forward_keys = ['togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total', 'red_cards', 
                         'minutes', 'successful_dribbles', 'own_goals', 'ontarget_scoring_att', 'interception_total', 
                         'goals_scored', 'key_passes', 'accurateCrosses_total', 'aerialWon_total', 'assists', 
                         'points_above_replacement', 'name', 'age']

relevant_midfield_keys = ['togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total', 'red_cards', 
                          'minutes', 'successful_dribbles', 'own_goals', 'ontarget_scoring_att', 'interception_total', 
                          'goals_scored', 'key_passes', 'accurateCrosses_total', 'clean_sheets', 'aerialWon_total', 
                          'assists', 'points_above_replacement', 'name', 'age']

relevant_defense_keys = ['goals_conceded', 'togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total',
                         'red_cards', 'minutes', 'successful_dribbles', 'own_goals', 'ontarget_scoring_att', 'name'
                         'interception_total', 'goals_scored', 'key_passes', 'accurateCrosses_total', 'clean_sheets', 
                         'aerialWon_total', 'assists', 'points_above_replacement', 'clearance_total', 'age']

relevant_goalie_keys = ['goals_conceded', 'saves', 'togga_score', 'apps', 'tackle_total', 'yellow_cards', 'red_cards', 
                        'minutes', 'own_goals', 'interception_total', 'key_passes', 'clean_sheets', 'aerialWon_total', 
                        'penalties_saved', 'points_above_replacement', 'name', 'clearance_total', 'age']

def removeExtraStats(file, relevant_keys):
    with open(file, "r") as infile:
        data = json.load(infile)
    new_data = []
    for i in range(len(data)):
        values = [{key: data[i].get(key)} for key in relevant_keys]
        item = dict(pair for d in values for pair in d.items())
        new_data.append(item)
    with open(file, 'w') as json_data:
        json.dump(new_data, json_data)
        
for position in ['goalies', 'defense', 'midfield', 'forwards']:
    for year in ['2012/13', '2013/14', '2014/15', '2015/16', '2016/17']:
        file = 'Data/Sorted_Positions/sorted_%s_%s+%s.json' % (position, year[:4], year[-2:])
        if position == 'goalies':
            keys = relevant_goalie_keys
        elif position == 'defense':
            keys = relevant_defense_keys
        elif position == 'midfield':
            keys = relevant_midfield_keys
        else:
            keys = relevant_forward_keys
        removeExtraStats(file, keys)

In [109]:
with open('Data/Sorted_Positions/sorted_goalies_2016+17.json', "r") as infile:
    data = json.load(infile)
df = pd.DataFrame(data)
df = df.dropna(axis=1,how='all')
#df = df.dropna(axis=0,how='any')

In [101]:
df

,accurateCrosses_total,aerialWon_total,apps,assists,clean_sheets,clearance_total,goals_conceded,goals_scored,interception_total,minutes,...,own_goals,penalties_saved,points_above_replacement,red_cards,saves,successful_dribbles,tackle_total,togga_score,total_pass,yellow_cards
0,0,6,35,0,10,14,48,0,1,3150,...,0,1,33.00,0,142,NaN,0,283.50,1127,1
1,0,5,35,0,12,18,37,0,1,3097,...,1,0,7.50,0,115,3,0,250.50,844,2
2,0,6,34,0,15,32,24,0,1,3004,...,0,0,18.25,0,78,NaN,0,243.00,1060,0
3,0,11,29,0,4,35,50,0,3,2610,...,0,0,5.00,0,135,NaN,0,224.75,954,0
4,0,7,36,0,16,23,28,0,0,3240,...,0,0,3.75,0,69,NaN,0,219.75,792,1
5,0,11,30,0,8,28,47,0,1,2666,...,0,0,11.75,0,113,2,2,216.00,888,1
6,0,10,35,0,9,25,63,0,1,3150,...,0,2,2.75,0,115,1,0,204.25,888,2
7,0,10,28,0,9,34,34,0,0,2520,...,0,0,1.75,0,91,NaN,0,201.50,881,1
8,0,1,35,0,14,11,29,0,0,3150,...,0,0,11.50,0,74,NaN,0,199.75,849,2
9,0,13,38,0,7,57,64,0,2,3337,...,1,1,0.25,0,117,1,0,188.25,1034,1
10,0,14,37,0,8,20,69,0,1,3330,...,0,1,2.25,0,117,NaN,3,188.00,928,1
11,0,8,38,0,6,23,51,0,1,3420,...,0,0,9.25,0,115,1,0,185.75,1119,2
12,0,4,38,0,14,18,48,0,0,3420,...,0,1,12.25,0,76,1,0,176.50,859,3
13,0,6,28,0,8,29,36,0,3,2520,...,0,0,2.25,0,79,NaN,1,164.25,888,1
14,0,19,28,0,9,28,30,0,1,2520,...,0,2,2.00,0,52,3,0,162.00,806,0
15,0,3,20,1,10,16,20,0,0,1737,...,0,0,17.00,0,54,1,1,160.00,570,2
16,0,6,22,0,5,20,36,0,1,1980,...,0,2,7.25,0,73,1,0,143.00,637,0
17,0,5,29,0,7,15,46,0,0,2610,...,0,0,34.75,0,83,NaN,0,135.75,809,1
18,NaN,NaN,NaN,0,6,NaN,25,0,NaN,1440,...,0,0,3.75,0,53,NaN,NaN,101.00,417,1
19,0,5,22,0,4,13,39,0,1,1980,...,0,1,5.25,0,64,1,0,97.25,625,1
20,NaN,NaN,NaN,0,6,NaN,13,0,NaN,1452,...,0,1,9.50,0,31,NaN,NaN,92.00,391,0
21,0,5,22,0,6,18,26,0,0,1968,...,0,1,2.00,0,33,3,0,82.50,664,0
22,0,4,19,0,4,18,24,0,0,1683,...,1,2,16.50,0,43,1,0,80.50,472,2
23,NaN,NaN,NaN,0,3,NaN,17,0,NaN,900,...,0,0,4.00,0,37,NaN,NaN,64.00,NaN,0
24,NaN,NaN,NaN,0,2,NaN,19,0,NaN,810,...,0,0,16.00,0,41,NaN,NaN,60.00,NaN,0
25,NaN,NaN,NaN,0,2,NaN,0,0,NaN,180,...,0,1,4.00,0,10,NaN,NaN,44.00,NaN,0
26,NaN,NaN,NaN,0,3,NaN,12,0,NaN,900,...,0,0,6.00,0,20,NaN,NaN,40.00,NaN,0
27,NaN,NaN,NaN,0,2,NaN,8,0,NaN,450,...,0,0,5.00,0,17,NaN,NaN,34.00,NaN,0
28,NaN,NaN,NaN,0,0,NaN,44,0,NaN,1440,...,1,0,3.00,0,63,NaN,NaN,29.00,410,0
29,NaN,NaN,NaN,0,2,NaN,2,0,NaN,416,...,0,0,12.00,0,7,NaN,NaN,26.00,NaN,0
30,NaN,NaN,NaN,0,0,NaN,17,0,NaN,810,...,0,0,2.00,0,24,NaN,NaN,14.00,NaN,0
31,NaN,NaN,NaN,0,1,NaN,16,0,NaN,754,...,0,0,0.00,0,18,NaN,NaN,12.00,NaN,0
32,NaN,NaN,NaN,0,1,NaN,3,0,NaN,180,...,0,0,2.00,0,5,NaN,NaN,12.00,NaN,0
33,NaN,NaN,NaN,0,1,NaN,0,0,NaN,90,...,0,0,1.00,0,1,NaN,NaN,10.00,NaN,0
34,NaN,NaN,NaN,0,1,NaN,3,0,NaN,180,...,0,0,3.00,0,5,NaN,NaN,9.00,NaN,1
35,NaN,NaN,NaN,0,0,NaN,1,0,NaN,90,...,0,0,0.00,0,4,NaN,NaN,6.00,NaN,0
36,NaN,NaN,NaN,0,0,NaN,7,0,NaN,270,...,0,0,0.00,0,10,NaN,NaN,6.00,NaN,0
37,NaN,NaN,NaN,0,0,NaN,1,0,NaN,90,...,0,0,2.00,0,4,NaN,NaN,6.00,NaN,0
38,NaN,NaN,NaN,0,0,NaN,14,0,NaN,450,...,1,1,0.00,0,18,NaN,NaN,4.00,NaN,1
39,NaN,NaN,NaN,0,0,NaN,4,0,NaN,83,...,0,0,12.00,0,6,NaN,NaN,4.00,NaN,0
40,NaN,NaN,NaN,0,0,NaN,5,0,NaN,180,...,0,0,NaN,0,1,NaN,NaN,-8.00,NaN,0