In [2]:
import json
import numpy as np
import pandas as pd

In [171]:
def pointsAboveReplacement(file):
    with open(file, "r") as infile:
        data = json.load(infile)
    for i, player in enumerate(data):
        if i < (len(data)-1):
            data[i].update({"points_above_replacement": player["togga_score"] - data[i+1]["togga_score"]})   
    with open(file, 'w') as json_data:
        json.dump(data, json_data)

for position in ['goalies', 'defense', 'midfield', 'forwards']:
    for year in ['2012/13', '2013/14', '2014/15', '2015/16', '2016/17']:
        file = 'Data/Sorted_Positions/sorted_%s_%s+%s.json' % (position, year[:4], year[-2:])
        pointsAboveReplacement(file)

In [172]:
with open(file, "r") as infile:
        data = json.load(infile)

points_above = np.array([(x["name"], x["points_above_replacement"]) for x in data[:-1]])
#print(points_above)

In [173]:
# Removed ontarget_scoring_att
relevant_forward_keys = ['togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total', 'red_cards', 
                         'minutes', 'successful_dribbles', 'own_goals', 'interception_total', 
                         'goals_scored', 'key_passes', 'accurateCrosses_total', 'aerialWon_total', 'assists', 
                         'points_above_replacement', 'name', 'age', 'ontarget_scoring_att']

relevant_midfield_keys = ['togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total', 'red_cards', 
                          'minutes', 'successful_dribbles', 'own_goals', 'interception_total', 'ontarget_scoring_att',
                          'goals_scored', 'key_passes', 'accurateCrosses_total', 'clean_sheets', 'aerialWon_total', 
                          'assists', 'points_above_replacement', 'name', 'age']

relevant_defense_keys = ['goals_conceded', 'togga_score', 'apps', 'tackle_total', 'yellow_cards', 'dispossessed_total',
                         'red_cards', 'minutes', 'successful_dribbles', 'own_goals', 'name', 'ontarget_scoring_att',
                         'interception_total', 'goals_scored', 'key_passes', 'accurateCrosses_total', 'clean_sheets', 
                         'aerialWon_total', 'assists', 'points_above_replacement', 'clearance_total', 'age']

relevant_goalie_keys = ['goals_conceded', 'saves', 'togga_score', 'apps', 'tackle_total', 'yellow_cards', 'red_cards', 
                        'minutes', 'own_goals', 'interception_total', 'key_passes', 'clean_sheets', 'aerialWon_total', 
                        'penalties_saved', 'points_above_replacement', 'name', 'clearance_total', 'age']

def removeExtraStats(file, relevant_keys):
    with open(file, "r") as infile:
        data = json.load(infile)
    new_data = []
    for i in range(len(data)):
        values = [{key: data[i].get(key)} for key in relevant_keys]
        item = dict(pair for d in values for pair in d.items())
        new_data.append(item)
    with open(file, 'w') as json_data:
        json.dump(new_data, json_data)
        
for position in ['goalies', 'defense', 'midfield', 'forwards']:
    for year in ['2012/13', '2013/14', '2014/15', '2015/16', '2016/17']:
        file = 'Data/Sorted_Positions/sorted_%s_%s+%s.json' % (position, year[:4], year[-2:])
        if position == 'goalies':
            keys = relevant_goalie_keys
        elif position == 'defense':
            keys = relevant_defense_keys
        elif position == 'midfield':
            keys = relevant_midfield_keys
        else:
            keys = relevant_forward_keys
        removeExtraStats(file, keys)

In [177]:
with open('Data/Sorted_Positions/sorted_forwards_2016+17.json', "r") as infile:
    data = json.load(infile)
df = pd.DataFrame(data)
df = df.dropna(axis=1,how='all')
df = df.dropna(axis=0,how='any')

#df has 38 entries

In [179]:
#df

In [175]:
with open('Data/Sorted_Positions/sorted_midfield_2016+17.json', "r") as infile:
    data = json.load(infile)
df = pd.DataFrame(data)
df = df.dropna(axis=1,how='all')
df = df.dropna(axis=0,how='any')

#df has 125 entries

In [201]:
#df

In [203]:
for year in ['2012/13', '2013/14', '2014/15', '2015/16', '2016/17']:
    file = 'Data/Sorted_Positions/sorted_defense_%s+%s.json' % (year[:4], year[-2:])
    with open(file, "r") as infile:
        data = json.load(infile)
    for player in data:
        if not player.get("ontarget_scoring_att"):
            player["ontarget_scoring_att"] = 0
    with open(file, 'w') as json_data:
        json.dump(data, json_data)

In [199]:
with open('Data/Sorted_Positions/sorted_defense_2016+17.json', "r") as infile:
    data = json.load(infile)
    
df = pd.DataFrame(data)
#df = df.dropna(axis=1,how='all')
#df = df.dropna(axis=0,how='any')

#df has 86 entries

In [200]:
df

,accurateCrosses_total,aerialWon_total,age,apps,assists,clean_sheets,clearance_total,dispossessed_total,goals_conceded,goals_scored,...,minutes,name,ontarget_scoring_att,own_goals,points_above_replacement,red_cards,successful_dribbles,tackle_total,togga_score,yellow_cards
0,17,73,26,31,5,15,77,30,19,6,...,2693,Marcos Alonso,16,0,52.00,0,21,58,445.25,2
1,7,81,27,38,5,16,119,9,33,1,...,3420,César Azpilicueta,0,0,21.75,0,12,85,393.25,4
2,13,60,27,33,6,14,94,28,21,0,...,2701,Kyle Walker,0,0,30.25,0,35,72,371.50,8
3,0,91,31,37,0,17,167,7,29,6,...,3296,Gary Cahill,10,1,3.00,0,4,52,341.25,5
4,26,69,31,36,4,8,143,11,57,2,...,3103,Christian Fuchs,0,0,5.00,0,13,97,338.25,10
5,1,117,29,30,2,9,189,6,28,1,...,2592,Nicolás Otamendi,0,0,3.75,0,11,69,333.25,9
6,41,22,31,28,3,12,58,14,20,1,...,2483,Antonio Valencia,0,0,1.25,0,37,67,329.50,5
7,33,27,32,32,5,11,65,12,34,2,...,2819,Leighton Baines,0,0,7.75,0,12,63,328.25,4
8,1,152,24,35,1,10,260,7,49,2,...,3150,Michael Keane,8,0,2.50,0,5,28,320.50,4
9,1,106,30,33,0,15,230,9,21,0,...,2894,Jan Vertonghen,0,0,0.50,0,26,43,318.00,5
10,0,145,26,38,0,10,352,5,67,2,...,3420,Steve Cook,9,1,3.25,0,19,46,317.50,5
11,2,113,37,36,1,7,227,5,45,6,...,3140,Gareth McAuley,0,1,3.25,0,18,50,314.25,5
12,0,117,31,33,1,10,202,1,37,2,...,2821,Laurent Koscielny,0,0,3.25,1,4,49,311.00,4
13,13,131,27,37,0,6,149,15,50,4,...,3276,Craig Dawson,8,0,7.50,0,14,58,307.75,10
14,25,53,28,36,2,9,175,15,53,0,...,3240,Matthew Lowton,0,0,0.50,0,24,101,300.25,9
15,2,61,30,33,1,15,171,8,26,1,...,2954,David Luiz Moreira Marinho,10,0,12.75,0,14,42,299.75,6
16,12,83,31,29,1,9,156,6,27,1,...,2535,Aleksandar Kolarov,10,1,0.00,0,22,47,287.00,6
17,0,82,32,36,3,13,286,5,40,1,...,3160,Ashley Williams,0,0,0.75,1,2,53,287.00,7
18,13,115,32,34,1,10,219,15,54,0,...,2938,Simon Francis,0,0,3.50,1,17,62,286.25,4
19,6,57,31,36,3,11,99,18,43,0,...,3153,Nacho Monreal,0,0,0.75,0,13,89,282.75,5
20,1,126,27,34,2,9,300,2,49,1,...,3015,Ben Mee,0,2,1.75,0,1,47,282.00,5
21,4,102,25,26,2,8,129,6,30,2,...,2274,Shkodran Mustafi,0,0,0.75,0,15,56,280.25,11
22,43,27,25,30,3,11,76,25,36,0,...,2515,Cédric Soares,0,0,5.00,0,12,83,279.50,7
23,18,13,26,37,2,12,54,20,41,0,...,3323,Nathaniel Clyne,0,0,2.00,0,21,80,274.50,0
24,19,34,30,34,3,10,78,24,53,4,...,3060,Charlie Daniels,0,0,2.50,0,31,58,272.50,1
25,17,20,28,26,4,10,68,30,28,4,...,2316,Seamus Coleman,8,0,4.25,0,31,54,270.00,3
26,26,64,31,37,1,8,155,18,53,1,...,3230,Stephen Ward,0,0,1.25,0,16,69,265.75,5
27,1,103,27,29,1,11,182,4,31,2,...,2553,Dejan Lovren,0,0,0.00,0,1,41,264.50,6
28,15,42,27,28,5,12,46,14,36,2,...,2507,Ryan Bertrand,0,0,0.50,0,14,37,264.50,3
29,24,25,27,23,2,9,108,4,17,1,...,1830,Daley Blind,0,0,1.00,0,7,45,264.00,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,NaN,NaN,NaN,1,1,NaN,NaN,11,0,...,611,Donald Love,0,0,1.00,0,NaN,NaN,-11.00,1
132,NaN,NaN,NaN,NaN,0,0,NaN,NaN,6,0,...,270,Kevin Long,0,0,1.00,0,NaN,NaN,-12.00,0
133,NaN,NaN,NaN,NaN,0,3,NaN,NaN,16,1,...,918,Daniel Ayala,0,0,0.00,0,NaN,NaN,-13.00,3
134,NaN,NaN,NaN,NaN,0,0,NaN,NaN,5,0,...,180,Philipp Wollscheid,0,0,0.00,0,NaN,NaN,-13.00,1
135,NaN,NaN,NaN,NaN,0,1,NaN,NaN,8,0,...,323,Josh Tymon,0,0,1.00,0,NaN,NaN,-13.00,1
136,NaN,NaN,NaN,NaN,2,3,NaN,NaN,31,2,...,1330,Andrea Ranocchia,0,0,4.00,0,NaN,NaN,-14.00,2
137,NaN,NaN,NaN,NaN,0,4,NaN,NaN,15,0,...,917,Yohan Benalouane,0,0,1.00,0,NaN,NaN,-18.00,4
138,NaN,NaN,NaN,NaN,0,0,NaN,NaN,8,0,...,327,Luis Hernández,0,0,1.00,0,NaN,NaN,-19.00,1
139,NaN,NaN,NaN,NaN,0,1,NaN,NaN,13,0,...,562,Adrian Mariappa,0,0,1.00,0,NaN,NaN,-20.00,0
140,NaN,NaN,NaN,NaN,0,0,NaN,NaN,9,0,...,269,Bradley Smith,0,0,0.00,0,NaN,NaN,-21.00,1
141,NaN,NaN,NaN,NaN,0,1,NaN,NaN,9,0,...,353,Patrick McNair,0,1,1.00,0,NaN,NaN,-21.00,0
142,NaN,NaN,NaN,NaN,0,3,NaN,NaN,20,0,...,1036,Stephen Kingsley,0,0,1.00,0,NaN,NaN,-22.00,0
143,NaN,NaN,NaN,NaN,0,0,NaN,NaN,7,0,...,255,Marc Wilson,0,0,1.00,0,NaN,NaN,-23.00,3
144,NaN,NaN,NaN,NaN,0,5,NaN,NaN,18,0,...,1517,Gabriel Armando de Abreu,0,0,1.00,0,NaN,NaN,-24.00,6
145,NaN,NaN,NaN,NaN,1,3,NaN,NaN,24,0,...,972,Arthur Masuaku,0,0,1.00,0,NaN,NaN,-25.00,1
146,NaN,NaN,NaN,NaN,0,0,NaN,NaN,4,0,...,357,Kevin Wimmer,0,1,0.00,0,NaN,NaN,-26.00,3
147,NaN,NaN,NaN,NaN,0,1,NaN,NaN,18,1,...,699,Benjamin Chilwell,0,0,0.00,0,NaN,NaN,-26.00,2
148,NaN,NaN,NaN,NaN,0,1,NaN,NaN,16,0,...,615,Omar Elabdellaoui,0,0,1.00,0,NaN,NaN,-26.00,0
149,NaN,NaN,NaN,NaN,0,1,NaN,NaN,20,1,...,662,Mike van der Hoorn,0,0,0.00,0,NaN,NaN,-27.00,1
150,NaN,NaN,NaN,NaN,0,0,NaN,NaN,9,0,...,258,Álvaro Arbeloa,0,0,2.00,0,NaN,NaN,-27.00,3
151,NaN,NaN,NaN,NaN,0,1,NaN,NaN,13,0,...,590,Jonas Olsson,0,0,2.00,0,NaN,NaN,-29.00,3
152,NaN,NaN,NaN,NaN,1,2,NaN,NaN,21,0,...,1162,Craig Cathcart,0,0,4.00,0,NaN,NaN,-31.00,3
153,NaN,NaN,NaN,NaN,0,3,NaN,NaN,17,0,...,1168,Phil Bardsley,0,0,0.00,1,NaN,NaN,-35.00,4
154,NaN,NaN,NaN,NaN,1,2,NaN,NaN,26,0,...,920,Neil Taylor,0,0,0.00,0,NaN,NaN,-35.00,1
155,NaN,NaN,NaN,NaN,0,1,NaN,NaN,24,1,...,831,Angel Rangel,0,0,3.00,0,NaN,NaN,-35.00,1
156,NaN,NaN,NaN,NaN,0,11,NaN,NaN,46,0,...,2934,Jose Fonte,0,0,12.00,0,NaN,NaN,-38.00,4
157,NaN,NaN,NaN,NaN,0,0,NaN,NaN,16,0,...,506,Tyrone Mings,0,2,0.00,0,NaN,NaN,-50.00,0
158,NaN,NaN,NaN,NaN,1,3,NaN,NaN,27,0,...,1249,Sam Byram,0,0,25.00,1,NaN,NaN,-50.00,5
159,NaN,NaN,NaN,NaN,0,2,NaN,NaN,36,0,...,1409,Jordi Amat,0,0,2.00,0,NaN,NaN,-75.00,5
160,NaN,NaN,NaN,NaN,0,2,NaN,NaN,35,0,...,1577,Papy Djilobodji,0,0,NaN,1,NaN,NaN,-77.00,4